<article>
	<h3><div class="title"><a href="/posts/<%= post.title %>"><%= post.title %></a></div></h3>
	<h4><div class="created_at"><%= post.created_at %></div></h4>
	<br />
	<div class="body"><p><%= post.body %></p></div>
	<p><a href="/posts/<%= post.title %>">Read Moar...</a></p>
</article>